p, ul, ol, dl, menu, hr,
h1, h2, h3, h4, h5, h6,
blockquote, fieldset {
    margin: 0;
}

ul, ol, menu, hr, fieldset, td, th {
    padding: 0;
}

input, button, fieldset, textarea, hr {
    border: none;
}

ul, ol, menu {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6,
th, input {
    font-weight: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
}


button,
input,
select,
textarea,
a {
    color: inherit;
}

a {
    text-decoration: none;
}

thead,
tbody {
    vertical-align: inherit;
}

iframe,
img {
    vertical-align: top;
}

th {
    text-align: inherit;
}

table {
    width: 100%;
}

label {
    cursor: pointer;
}

::-webkit-input-placeholder { font-style: normal; }
::-moz-placeholder { font-style: normal; }
:-ms-input-placeholder { font-style: normal; }