html {
    min-width: 1000px;
    background: #e3e3e3 url(../images/background.png);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
/*
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
*/
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}