.action {

}

    .action__item {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
    }

    .action__item:first-child {
        margin-left: 0;
    }

        .action__item__icon {
            display: inline-block;
            vertical-align: top;
        }

        .action__item__text {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
            width: 96px;
            line-height: 15px;
        }