.engine {

}

    .engine__title {
        font-size: 24px;
        line-height: 26px;
        color: #454545;
    }

    .engine__description {
        font-size: 13px;
        line-height: 15px;
        color: #454545;
        margin-top: 15px;
    }

        .engine__description__left {
            width: 197px;
            height: 179px;
            background: #fff;
            display: inline-block;
            vertical-align: top;
        }

        .engine__description__right {
            margin-left: 22px;
            display: inline-block;
            vertical-align: top;
            width: 481px;
        }

            .engine__description__right__top {

            }

            .engine__description__right__bottom {
                margin-top: 22px;
            }

                .engine__description__right__bottom__price {
                    display: inline-block;
                    vertical-align: top;
                    width: 118px;
                }

                .engine__description__right__bottom__button {
                    margin-left: 18px;
                    display: inline-block;
                    vertical-align: top;
                    width: 197px;
                }

            .engine__description__right__links {
                margin: -20px 0 0 200px;
            }

    .engine__table {

    }

    .engine__action {

    }