.engine {

}

    .engine__title {
        font-size: 24px;
        line-height: 26px;
        color: #454545;
    }

    .engine__description {
        font-size: 13px;
        line-height: 15px;
        color: #454545;
        margin-top: 15px;
    }

        .engine__description__left {
            display: inline-block;
            vertical-align: top;
        }

            .engine__description__left__image {
                max-width: 197px;
                max-height: 179px;
            }

        .engine__description__right {
            margin-left: 22px;
            display: inline-block;
            vertical-align: top;
            width: 481px;
        }

            .engine__description__right__top {
                font-size: 13px;
                line-height: 15px;
                color: #454545;
                margin-top: 15px;
            }

            .engine__description__right__bottom {
                margin-top: 24px;
            }

                .engine__description__right__bottom__price {
                    display: inline-block;
                    vertical-align: top;
                    width: 118px;
                }

                .engine__description__right__bottom__button {
                    margin-left: 18px;
                    display: inline-block;
                    vertical-align: top;
                    width: 197px;
                }

            .engine__description__right__links {
                margin: -14px 0 0 189px;
            }

    .engine__table {
        margin-top: 20px;
    }

        .engine__table__title {
            font-size: 18px;
            line-height: 20px;
            color: #454545;
            padding-left: 46px;
            background: url(../images/gear_black.png) no-repeat 4px 0;
            width: 30px;
            height: 45px;
        }

        .engine__table__item {

        }

    .engine__action {
        margin-top: 12px;
    }

        .engine__action__left {
            display: inline-block;
            vertical-align: middle;
            width: 267px;
        }

        .engine__action__right {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            font-size: 15px;
            line-height: 17px;
            color: #353535;
        }