.footer {
    height: 57px;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    color: #a1a1a1;
}
    .footer__copyright {
        position: absolute;
        left: 0;
        top: 12px;
    }

        .footer__copyright__link {
            display: inline;
        }

        .footer__copyright__text {
            display: inline;
        }

    .footer__info {
        position: absolute;
        top: 13px;
        right: 100px;
    }

        .footer__info__link {

        }

        .footer__info__text {

        }