.link {
    text-decoration: underline;
    font-size: 13px;
    line-height: 15px;
    color: #2e8bb6;
}

    /*.link__top {*/
        /*font-size: 18px;*/
        /*line-height: 20px;*/
    /*}*/

    /*.link__bottom {*/
        /*color: #9e9e9e;*/
        /*margin-top: 5px;*/
        /*text-decoration: none;*/
    /*}*/

.link_big {
    font-size: 18px;
    line-height: 20px;
}

.link_gray {
    color: #a1a1a1;
}

.link_light-blue {
    color: #c3d6e9;
}

.link:hover {
    text-decoration: none;
}