.link {
    text-decoration: underline;
    font-size: 13px;
    line-height: 15px;
}

.link_gray {
    color: #a1a1a1;
}

.link_light-blue {
    color: #c3d6e9;
}

.link:hover {
    text-decoration: none;
}