.menu {

}

    .menu__top {
        height: 11px;
        background: #303030;
        border-top: 1px solid #3d3d3d;
        border-bottom: 1px solid #3d3d3d;
    }

    .menu__item {
        background: #fff;
        border-bottom: 2px solid #eaeaea;
    }

    .menu__item:last-child {
        border-bottom: none;
    }

        .menu__item__link {
            padding: 10px 30px 8px 28px;
            font-size: 14px;
            line-height: 16px;
            color: #454545;
            text-decoration: underline;
            display: block;
        }

        .menu__item__link:hover {
            text-decoration: none;
            background: #454545 url(../images/arrow.png) no-repeat 8px center;
            color: #fff;
        }