.nav {

}
    .nav__item {
        font-size: 15px;
        line-height: 86px;
        color: #fff;
        text-transform: uppercase;
        background: #73a4cf;
        text-align: center;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

        .nav__item__link {
            padding: 33px;
            white-space: nowrap;
        }

        .nav__item__link:hover {
            background: #4c4c4c url(../images/nav_arrow.png) no-repeat center 65px;
        }

        .nav__item__link_active {
            background: #4c4c4c url(../images/nav_arrow.png) no-repeat center 65px;
        }

        .nav__item__separator {
            border-left: 1px solid #4787b3;
            border-right: 1px solid #5abaf6;
            height: 84px;
            position: absolute;
            top: 2px;
            right: 0;
        }

