.pagination {
    text-align: center;
    cursor: default;
}

    .pagination__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px;
    }

        .pagination__item__link {

        }

        .pagination__item__link_active,
        .pagination__item__link:hover {
            color: #4e9fcf;
        }


    .pagination__item:first-child {
        margin-left: 0;
    }

    .pagination__item:last-child {
        margin-right: 0;
    }


