.page {
    position: relative;
}
    .page__top {
        background: #343434;
        border-bottom: 1px solid #3a3a3a;
    }
    .page__header {
        background: #4c4c4c;
    }

    .page__slider {
        background: url(../images/slider_image1.jpg) no-repeat top center;
        width: 1200px;
        height: 350px;
        margin: 0 auto;
    }

    .page__nav {
        text-align: center;
        margin-top: -98px;
    }

        .page__nav__inner {
            display: inline-block;
            vertical-align: top;
        }

    .page__body {
        margin: 20px 0 0;
    }

    .page__service {
        background: #fff;
    }

    .page__prefooter {
        background: #383838;
    }

    .page__footer {
        background: #4b4948;
    }