.page {
    position: relative;
}

    .page__top {
        background: #343434;
        border-bottom: 1px solid #3a3a3a;
    }

    .page__header {
        background: #4c4c4c;
    }

    .page__slider {
        height: 196px;
    }

    .page__slider_big {
        height: 350px;
    }

    .page__nav {
        text-align: center;
        margin-top: -98px;
    }

        .page__nav__inner {
            display: inline-block;
            vertical-align: top;
        }

    .page__body {
        background: #eaeaea url(../images/icon_gear.png) no-repeat bottom center;
        padding-bottom: 95px;
    }

    .page__service {
        background: #fff;
    }

    .page__prefooter {
        background: #383838;
    }

    .page__footer {
        background: #4b4948;
    }