.title {
    display: block;
    text-decoration: none;
    font-size: 24px;
    line-height: 26px;
    color: #454545;
}

.title_small {
    font-size: 18px;
    line-height: 20px;
    color: #454545;
}