.title {
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
}

.title_large {
    font-size: 24px;
    line-height: 24px;
}

.title_small {
    font-size: 16px;
    line-height: 19px;
}