.jcarousel-wrapper {
    position: relative;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}


.jcarousel-pagination_big {
    position: absolute;
    bottom: 116px;
    left: 205px;
}


.jcarousel-pagination {
    position: absolute;
    bottom: 98px;
    left: 205px;
}

.jcarousel-pagination a {
    display: inline-block;
    vertical-align: top;
    height: 14px;
    width: 14px;
    background: #fff;
    border-radius: 50%;
    margin-right: 7px;
}

.jcarousel-pagination a.active {
    background: #85aad2;
}
